@using Restaurant.Client.Contracts.Blogs
<div class="wrap-row">
    <div class="wrap-row-content" @onclick="() => GoToBlogDetails(blog.Id)">
        @if (!string.IsNullOrEmpty(blog.ImageLink))
        {
            <img src="@blog.ImageLink" height="200px" class="card-img-top" alt="Blog Image">
        }
        <p>@blog.Created</p>
        <div>
        <h2>@blog.AuthorName</h2>
        <h3 class="card-title">@blog.Title</h3>
        </div>
        @* <p class="card-subtitle mb-2">@blog.AuthorName</p> *@
        @* <p class="card-text">@((MarkupString)blog.Content)</p> *@
        
    </div>
</div>


@code {
    [Parameter]
    public BlogResponse blog {get;set;}

    private void GoToBlogDetails(Guid id)
    {
        NavManager.NavigateTo($"/blogDetails/{id}");
    }
}
