@using System.Security.Claims
@using Restaurant.Client.Auth
@using Restaurant.Client.Shared.ServicingComponents
@using Microsoft.AspNetCore.Authorization
<div class="navbar navbar-wrap" id="fade-in">
    <div class="navbar-content">
        <NavLink href="/#index" style="text-decoration: none">
            <h1>Restaurant</h1>
        </NavLink>
    </div>
    <div class="navbar-content">
        <div class="navigation">
            <a href="/blogslist">@Localizer["blogsListNavLink"]</a>
            <a href="/menu">@Localizer["menuNavLink"]</a>
            <a href="/selectTable">@Localizer["tablesNavLink"]</a>
            <a href="#">option</a>
            <a href="#">option</a>
        </div>
    </div>
    <div class="navbar-content">
        <div class="navbar right-part">
            @* <div class="LangSwitch"><CultureSelector /></div> *@
            <AuthorizeView Roles="Admin">@*Коли зареганий адмін він бачить це*@
                <Authorized>
                    <NavLink href="/dishesManage">Admin page</NavLink>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="User">@*Коли зареганий юзер він бачить це*@
                <Authorized>
                    <NavLink href="@($"/cart/{context.User.Identity.Name}")">
                        <svg width="35" height="33" viewBox="0 0 35 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.8266 16.8983V25.9993C18.8266 26.3441 18.6987 26.6748 18.4711 26.9186C18.2435 27.1625 17.9347 27.2994 17.6128 27.2994C17.2909 27.2994 16.9822 27.1625 16.7545 26.9186C16.5269 26.6748 16.399 26.3441 16.399 25.9993V16.8983C16.399 16.5535 16.5269 16.2228 16.7545 15.979C16.9822 15.7352 17.2909 15.5982 17.6128 15.5982C17.9347 15.5982 18.2435 15.7352 18.4711 15.979C18.6987 16.2228 18.8266 16.5535 18.8266 16.8983ZM34.5846 13.3408L32.4817 30.2443C32.4037 30.869 32.1166 31.4421 31.6737 31.857C31.2308 32.2719 30.6622 32.5004 30.0738 32.5H5.15181C4.56341 32.5004 3.99488 32.2719 3.55197 31.857C3.10907 31.4421 2.82193 30.869 2.74397 30.2443L0.639568 13.3424C0.59371 12.975 0.621736 12.6013 0.721766 12.2464C0.821797 11.8915 0.991519 11.5636 1.21955 11.2847C1.44758 11.0058 1.72865 10.7824 2.0439 10.6294C2.35916 10.4764 2.70131 10.3974 3.04741 10.3976H8.56558L16.7025 0.440178C16.8164 0.301834 16.9565 0.191036 17.1134 0.115143C17.2704 0.03925 17.4406 0 17.6128 0C17.785 0 17.9553 0.03925 18.1122 0.115143C18.2692 0.191036 18.4093 0.301834 18.5232 0.440178L26.6601 10.3976H32.1782C32.5239 10.3979 32.8656 10.4772 33.1804 10.6303C33.4951 10.7834 33.7757 11.0067 34.0034 11.2854C34.2311 11.564 34.4006 11.8915 34.5005 12.246C34.6005 12.6005 34.6286 12.9738 34.583 13.3408H34.5846ZM11.7912 10.3976H23.4344L17.6128 3.27123L11.7912 10.3976ZM32.1782 12.9979H3.04741L5.15181 29.8997H30.0738L32.1782 12.9979ZM24.4161 16.7683L23.5664 25.8693C23.5496 26.0397 23.5645 26.2119 23.61 26.3762C23.6556 26.5404 23.731 26.6934 23.832 26.8263C23.933 26.9592 24.0574 27.0694 24.1983 27.1506C24.3392 27.2318 24.4936 27.2824 24.6528 27.2994C24.6937 27.3018 24.7347 27.3018 24.7757 27.2994C25.0763 27.299 25.3661 27.1791 25.589 26.963C25.8118 26.7468 25.9518 26.4497 25.9819 26.1293L26.8315 17.0283C26.8637 16.6852 26.7673 16.3425 26.5636 16.0755C26.3599 15.8085 26.0655 15.6392 25.7452 15.6047C25.4249 15.5702 25.1049 15.6734 24.8556 15.8916C24.6064 16.1099 24.4483 16.4252 24.4161 16.7683ZM10.8096 16.7683C10.7774 16.4252 10.6193 16.1099 10.37 15.8916C10.1208 15.6734 9.80077 15.5702 9.48047 15.6047C9.16016 15.6392 8.86576 15.8085 8.66204 16.0755C8.45831 16.3425 8.36194 16.6852 8.39413 17.0283L9.24378 26.1293C9.27397 26.4511 9.41506 26.7493 9.6395 26.9657C9.86394 27.1821 10.1556 27.3011 10.4576 27.2994C10.4985 27.3018 10.5395 27.3018 10.5805 27.2994C10.7391 27.2824 10.893 27.232 11.0334 27.1512C11.1738 27.0704 11.298 26.9608 11.3989 26.8286C11.4998 26.6964 11.5754 26.5442 11.6213 26.3807C11.6673 26.2173 11.6827 26.0457 11.6668 25.8758L10.8096 16.7683Z" fill="#1E1E1E" />
                        </svg>
                    </NavLink>
                    @* <p>@(context?.User?.Identity?.Name ?? "Not authorized")</p> *@
                    <NavLink href="@($"/userpage/{context.User.Identity.Name}")">
                        <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M33.6056 30.5224C31.1333 26.2483 27.3234 23.1835 22.8772 21.7306C25.0765 20.4214 26.7852 18.4264 27.741 16.052C28.6967 13.6776 28.8466 11.0552 28.1676 8.58738C27.4887 6.11956 26.0184 3.94285 23.9826 2.39152C21.9468 0.840181 19.4581 0 16.8986 0C14.3391 0 11.8504 0.840181 9.81456 2.39152C7.77878 3.94285 6.30852 6.11956 5.62956 8.58738C4.95061 11.0552 5.10051 13.6776 6.05624 16.052C7.01197 18.4264 8.72069 20.4214 10.92 21.7306C6.47377 23.1819 2.66389 26.2467 0.191608 30.5224C0.100945 30.6703 0.0408091 30.8348 0.014748 31.0062C-0.0113132 31.1777 -0.00277141 31.3526 0.0398693 31.5207C0.0825099 31.6888 0.158386 31.8466 0.26302 31.9849C0.367655 32.1232 0.498927 32.2391 0.649094 32.3259C0.799261 32.4126 0.96528 32.4684 1.13735 32.4899C1.30943 32.5115 1.48408 32.4983 1.65099 32.4513C1.8179 32.4042 1.9737 32.3242 2.10919 32.216C2.24468 32.1077 2.35712 31.9735 2.43988 31.8211C5.49817 26.5356 10.9038 23.3799 16.8986 23.3799C22.8934 23.3799 28.299 26.5356 31.3573 31.8211C31.4401 31.9735 31.5525 32.1077 31.688 32.216C31.8235 32.3242 31.9793 32.4042 32.1462 32.4513C32.3131 32.4983 32.4878 32.5115 32.6598 32.4899C32.8319 32.4684 32.9979 32.4126 33.1481 32.3259C33.2983 32.2391 33.4295 32.1232 33.5342 31.9849C33.6388 31.8466 33.7147 31.6888 33.7573 31.5207C33.8 31.3526 33.8085 31.1777 33.7824 31.0062C33.7564 30.8348 33.6963 30.6703 33.6056 30.5224ZM7.80813 11.6922C7.80813 9.89424 8.34127 8.13669 9.34015 6.64177C10.339 5.14685 11.7588 3.9817 13.4198 3.29366C15.0809 2.60563 16.9087 2.42561 18.6721 2.77636C20.4354 3.12712 22.0552 3.99291 23.3265 5.26423C24.5979 6.53556 25.4636 8.15532 25.8144 9.9187C26.1652 11.6821 25.9851 13.5099 25.2971 15.1709C24.6091 16.832 23.4439 18.2517 21.949 19.2506C20.4541 20.2495 18.6965 20.7826 16.8986 20.7826C14.4884 20.7801 12.1777 19.8215 10.4735 18.1173C8.76928 16.413 7.8107 14.1023 7.80813 11.6922Z" fill="#1E1E1E" />
                        </svg>
                    </NavLink>
                    
                </Authorized>
                <NotAuthorized>
                    <NavLink href="login">
                        <svg width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M33.6056 30.5224C31.1333 26.2483 27.3234 23.1835 22.8772 21.7306C25.0765 20.4214 26.7852 18.4264 27.741 16.052C28.6967 13.6776 28.8466 11.0552 28.1676 8.58738C27.4887 6.11956 26.0184 3.94285 23.9826 2.39152C21.9468 0.840181 19.4581 0 16.8986 0C14.3391 0 11.8504 0.840181 9.81456 2.39152C7.77878 3.94285 6.30852 6.11956 5.62956 8.58738C4.95061 11.0552 5.10051 13.6776 6.05624 16.052C7.01197 18.4264 8.72069 20.4214 10.92 21.7306C6.47377 23.1819 2.66389 26.2467 0.191608 30.5224C0.100945 30.6703 0.0408091 30.8348 0.014748 31.0062C-0.0113132 31.1777 -0.00277141 31.3526 0.0398693 31.5207C0.0825099 31.6888 0.158386 31.8466 0.26302 31.9849C0.367655 32.1232 0.498927 32.2391 0.649094 32.3259C0.799261 32.4126 0.96528 32.4684 1.13735 32.4899C1.30943 32.5115 1.48408 32.4983 1.65099 32.4513C1.8179 32.4042 1.9737 32.3242 2.10919 32.216C2.24468 32.1077 2.35712 31.9735 2.43988 31.8211C5.49817 26.5356 10.9038 23.3799 16.8986 23.3799C22.8934 23.3799 28.299 26.5356 31.3573 31.8211C31.4401 31.9735 31.5525 32.1077 31.688 32.216C31.8235 32.3242 31.9793 32.4042 32.1462 32.4513C32.3131 32.4983 32.4878 32.5115 32.6598 32.4899C32.8319 32.4684 32.9979 32.4126 33.1481 32.3259C33.2983 32.2391 33.4295 32.1232 33.5342 31.9849C33.6388 31.8466 33.7147 31.6888 33.7573 31.5207C33.8 31.3526 33.8085 31.1777 33.7824 31.0062C33.7564 30.8348 33.6963 30.6703 33.6056 30.5224ZM7.80813 11.6922C7.80813 9.89424 8.34127 8.13669 9.34015 6.64177C10.339 5.14685 11.7588 3.9817 13.4198 3.29366C15.0809 2.60563 16.9087 2.42561 18.6721 2.77636C20.4354 3.12712 22.0552 3.99291 23.3265 5.26423C24.5979 6.53556 25.4636 8.15532 25.8144 9.9187C26.1652 11.6821 25.9851 13.5099 25.2971 15.1709C24.6091 16.832 23.4439 18.2517 21.949 19.2506C20.4541 20.2495 18.6965 20.7826 16.8986 20.7826C14.4884 20.7801 12.1777 19.8215 10.4735 18.1173C8.76928 16.413 7.8107 14.1023 7.80813 11.6922Z" fill="#1E1E1E" />
                        </svg>
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
            <AuthorizeView>@*Коли хтось зерганий незалежно від ролі*@
                <Authorized>
                    <button style="color: black" @onclick="accountService.LogoutAsync">
                        розлогін
                    </button>
                </Authorized>               
            </AuthorizeView>
        </div>
    </div>
</div>
@code {

    protected override async void OnAfterRender(bool firstRender)
    {
        await JS.InvokeVoidAsync("fadeInElement", "fade-in");
    }

    // [Inject]
    // private NavigationManager NavigationManager { get; set; }

    // protected override async Task OnInitializedAsync()
    // {
    //     NavigationManager.LocationChanged += HandleLocationChanged;
    // }

    // private async void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    // {
    //     try
    //     {
    //         await JS.InvokeVoidAsync("fadeInElement", "fade-in");
    //     }catch{}
    // }

}
